* 
!.gitignore
!qmk_firmware\keyboards\handwired\dactyl_manuform\5x6\keymaps\jrc\config.h
!qmk_firmware\keyboards\handwired\dactyl_manuform\5x6\keymaps\jrc\keymap.c
!*.stl
!**.hex 
!**/5x6.h
!qmk_firmware\keyboards\handwired\dactyl_manuform\5x6\config.h
!qmk_firmware\keyboards\handwired\dactyl_manuform\5x6\rules.mk
!qmk_firmware\keyboards\kb\